@model Application.DTOs.CreatePostDto

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 10rem !important; max-width: 600px !important;">
        <div class="modal-content border-0 rounded-4 shadow " id="create-post-modal-content">
            
            <partial name="Shared/Posts/_CreatePostFormPartial" model="Model" />
            
        </div>
    </div>
</div>

<script>    
    /*Clearing the modal on access*/
    document.getElementById('createPostModal').addEventListener('show.bs.modal', function () {
    this.querySelector('textarea[name="Content"]').value = '';

        // Clear image previews and IDs
        const imagePreviewList = document.getElementById('imagePreviewList');
        if (imagePreviewList) {
            imagePreviewList.innerHTML = '';
            imagePreviewList.classList.add('d-none');
        }
        window.imageIDs = [];
        // clear video preview and ID
        const videoPreview = document.getElementById('videoPreview');
        if (videoPreview) {
            videoPreview.classList.add('d-none');
        }
        const videoFileID = document.getElementById('videoFileID');
        if (videoFileID) {
            videoFileID.value = '';
        }
});
</script>