@model Application.ViewModels.PostLoaderViewModel

@if (Model.HasMore)
{
    <div id="loader"
         hx-get="@Model.NextUrl"
         hx-target="this"
         hx-trigger="revealed"
         hx-swap="outerHTML"
         hx-indicator="#loading-indicator">
        
        <div id="loading-indicator">
            @await Html.PartialAsync("Shared/_LoadingIndicatorPartial")
        </div>
        
    </div>
    
}
@if(!Model.Posts.Any())
{
    <div class="alert alert-info">No available posts to show.</div>
}
else
{
    <div hx-swap-oob="beforeend:#posts-container">
        
        <partial name="Shared/Posts/_PostListPartial" model="Model.Posts"/>

    </div>
}