
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConversationModal" tabindex="-1" aria-labelledby="deleteConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConversationModalLabel">Delete Conversation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this conversation?
                <p class="text-danger">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteConversationForm" method="post" asp-page="/Account/Conversations/DeleteConversation" asp-antiforgery="true">
                    <input type="hidden" name="ConversationId" id="deleteConversationId" value="" />
                    <button type="submit" class="btn btn-danger">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>