
<!-- Leave Confirmation Modal -->
<div class="modal fade" id="leaveConversationModal" tabindex="-1" aria-labelledby="leaveConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveConversationModalLabel">Leave Conversation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to leave this conversation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="leaveConversationForm" method="post" asp-page="/Account/Conversations/LeaveConversation" asp-antiforgery="true">
                    <input type="hidden" name="ConversationId" id="leaveConversationId" value="" />
                    <button type="submit" class="btn btn-danger">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>