@page
@model Web.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="container py-4" style="max-width: 600px;">
    <h4 class="fw-bold mb-4">Latest Posts</h4>

    <div id="posts-container">
        <partial name="Shared/Posts/_PostListPartial" model="Model.Posts"/>
    </div>
        
    <div id="loader"
         hx-get="?handler=Paged&lastCreatedAt=@(Model.LastCreatedAt)"
         hx-target="this"
         hx-trigger="revealed"
         hx-swap="outerHTML"
         hx-indicator="#loading-indicator">
        
        <div id="loading-indicator">
            @await Html.PartialAsync("Shared/_LoadingIndicatorPartial")
        </div>
        
    </div>
</div>


<script src="js/index.js"></script>