@model Application.DTOs.CommentLikesDto

<div id="likes-@Model.CommentID" 
     hx-post="/Comments/ToggleCommentLike?handler=ToggleLike"
     hx-include="this" 
     hx-target="#likes-@Model.CommentID" 
     hx-swap="outerHTML">

    @Html.AntiForgeryToken()
    <input type="hidden" name="commentId" value="@Model.CommentID" />
    <button type="submit" 
            class="btn btn-link p-0 me-3 text-decoration-none fs-5 like-btn @(Model.IsLiked ? "text-pink" : "text-muted")">
        <i class="bi bi-heart me-1"></i>@Model.LikesCount
    </button>
</div>