@inject Application.Contracts.ICurrentUserService CurrentUser

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 10rem !important; max-width: 600px !important;">
        <div class="modal-content border-0 rounded-4 shadow">
            <form method="post" asp-page="/Posts/CreatePost" asp-antiforgery="true">
                
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-semibold" id="createPostModalLabel">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex align-items-start">
                        <img src="@Url.Content("~/" + CurrentUser.AvatarPath)"  class="rounded-circle me-3" width="40" height="40" alt="Avatar" />
                        <textarea name="Content"
                                  class="form-control bg-light"
                                  placeholder="What's on your mind?"
                                  rows="3" minlength="4" maxlength="1800"
                                  required
                                  style="resize: none; box-shadow: none; overflow: hidden;"
                                  oninput="this.style.height='auto';this.style.height=this.scrollHeight + 'px';"></textarea>
                    </div>
                </div>
                
                <div class="px-3"><hr/></div>
                
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary px-4">
                        <i class="bi bi-send-fill me-1"></i> Post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /*Clearing the modal on access*/
    document.getElementById('createPostModal').addEventListener('show.bs.modal', function () {
    this.querySelector('textarea[name="Content"]').value = '';
});
</script>