@page
@using Application.DTOs
@model Web.Pages.Messages.ConversationList

@{
    ViewData["Title"] = "Conversations";
}

<div class="container py-4" style="max-width: 600px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold mb-0">Conversations</h4>
        <button type="button" class="btn btn-primary text-start fw-bold" data-bs-toggle="modal" data-bs-target="#newConversationModal">
            <i class="bi bi-envelope-plus me-2"></i>New Conversation
        </button>
    </div>
    
    <div id="conversations-container">
        <partial name="Shared/Account/Conversations/_ConversationListPartial" model="Model.Conversations"/>
    </div>

    <div id="loader"
         hx-get="?handler=Paged&lastMessageAt=@(Model.LastMessageAt)"
         hx-target="this"
         hx-trigger="revealed"
         hx-swap="outerHTML"
         hx-indicator="#loading-indicator">

        <div id="loading-indicator">
            @await Html.PartialAsync("Shared/_LoadingIndicatorPartial")
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/Account/Conversations/_CreateConversationPartial", new CreateConversationDto(string.Empty, Guid.Empty))
